.form {
  border: 1px solid rgb(123, 123, 218);
  border-radius: 25px;
  padding: 3rem;
  margin-left: 3rem;
  margin-top: 5rem;
  width: 50%;
}

.input {
  padding: 2px 5px;
  width: 40%;
}

.label {
  display: flex;
  justify-content: flex-start;
}
